/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
     --oranges:linear-gradient(to right, #fbbd61, #ec7532);
     --forange: #ec7532;
     --white: #fff;
     --black: #000;
     --gray: #6c757d;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


html,body {
     font-family: 'Roboto Condensed', sans-serif;
     height: 1000px;
}

.container {
     width: 1124px;
     margin: auto;
     padding: 20px;
}
header {
     position: relative;
}
.header__text {
     text-align: right;
     font-weight: 700;
     color: var(--white);
}
.header__text i {
     margin:0px 10px;
}

.header__nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.header_menu {
     position: relative;
}
.header_menu ul{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     text-align: left;
     
}
.header_menu::before {
     content: "";
     position: absolute;
     top: 40px;
     left: 0px;
     width: 650px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header_menu li {
     list-style: none;
 
     font-size: 16px;
     line-height: 12px;
     letter-spacing: 3px;
     text-transform: uppercase;
}
.header_menu a {
     padding: 20px 24px;
     text-decoration: none;
     color: var(--white);
     line-height: 12.8px;
     letter-spacing: 3px;
     text-align: left;
     position: relative;

}
.header_menu a::after{
     content: "";
     position: absolute;
     top: 60px;
     left: 0;
     width: 0;
     height: 3px;
     display: block;
     background: linear-gradient(to right, #fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all 0.5s;
}
.header_menu a:hover::after,
.header_menu a.active::after {
     width: 100%;
}
.carousel{
     background-color: #000;
     height: 650px;
     /* position: absolute; */
     margin-top: -120px;
}
.carousel__content {
     color: orange;
     top: 50%;
     left: 50%;
     transform: translate(0%,500%);
}

